name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Check style
        run: npm run eslint

      - name: Build project
        run: npm run build

      - name: Run unit tests
        run: npm run test

      - name: Run Cypress end-to-end tests
        uses: cypress-io/github-action@v5
        with:
          start: npm run start-prod
          wait-on: http://localhost:5000
          command: npm run test:e2e
